@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #0c1119;
  --background-start: #ecf1fb;
  --background-end: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #fff;
    --background-start: #181c23;
    --background-end: #0c1119;
  }
}

body {
  color: var(--foreground);
  background: linear-gradient(to bottom, transparent, var(--background-end))
    var(--background-start);
}
